body {
    background-color: blue;
    text-align: center;
}

div {
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
}