body {
    background-color: blue;
    text-align: center;
}

div {
    font-size: 100px;
    color: white;
    display: inline-block;
    font-family: sans-serif;
}

#forward {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 225px;
}

#backward {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    height: 225px;
    padding-top: 120px;
}

#left {
    margin: 10px;
    float: left;
}

#right {
    margin: 10px;
    float: right;
}

#center {
    margin-left: auto;
    margin-right: auto;
}