body {
    background-color: blue;
    text-align: center;
}

div {
    margin-top: 150px;
}

div div {
    font-size: 150px;
    color: white;
    display: inline-block;
    margin: 10px 20px 10px 20px;
    font-family: sans-serif;
}

.label {
    font-size: 40px;
}